@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.topBar {
  color: white;
  position: absolute;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  border: none;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: .5em 0px;
  padding-left: .5em;  
}

#Flirty {
    background-color: #FF69DE;
}

#Friendly {
    background-color: #08CF04;
}

#Mixed {
    background-color: #A64DFF;
}

.topBar img {
    position: relative;
    top: .05em;
    max-height: 1.3em;
    width: auto;
    float: left;
}

.optionsContainer {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  float: left;

  height: 50vh;
  width: 20vw;

  margin-left: 10vw;
  margin-top: 25vh;
}

.optionsContainer button {
  cursor:pointer;
}

.truthButton {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1em;

  background-color: #2D8CFF;
  color: white;
  border:none;
  padding: .8em 0px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.dareButton {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1em;


  background-color: #FF0D0D;
  color: white;
  border:none;
  padding: .8em 0px;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.gameContainer {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  float: right;
  margin-right: 10vw;
  height: 50vh;
  width: 50vw;
  margin-top: 15vh;

}

.gameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  border: 2px solid #000000;
  
  font-size: 1em;
  height: 50vh;
  width: 100%;
  line-height: 50vh;
  text-align: center;
  display: inline-block;
  
  margin-top: 10px;
  border-radius:10px;

}

.gameBox p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;

  padding: 0px 1em;



}


